html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

html, body {
	height:100%;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color: #666;
}

a, a:link, a:visited, a:active {
	color:#2ea3f2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	position: relative;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
}

.menu-desktop {
	position: relative;
	display: block;
	float: left;
	width: 200px; 
	height: 100%;
}

.menu-mobile {
	display: none;
	margin-top: 60px;
	margin-bottom: 60px;
}

.content {
	position: relative;
	display: block;
	float: right;
	max-width: 580px;
	padding-top: 170px;
}

.footer {
	overflow: auto;
}

/* 
* 
* Responsive layout
*
*/

@media (max-width: 840px) {
	.menu-desktop { display: none; }
	.menu-mobile { display: block; }
	.content { float: left; padding-top: 0px; }
	.container { padding: 15px; max-width: 580px; margin: 0 auto; }
}


/*
*
* Other styles
*
*/

blockquote {
	padding-left: 10px;
	border-left: 4px solid #d2d2d2;
	font-size: 12px;
	font-style: italic;
	margin-left: 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d3cfcd;
	margin-bottom: 5px;
	padding: 0;
}

.orange-el {   
	float: left;
	width: 5px;
	height: 13px;
	margin-top: 2px;
	margin-right: 7px;
	border-width: 0px;
	background-color:#c45b00;
	border-radius:5px;
}


/* 
* 
* sharingbuttons.io
*
*/

.resp-sharing-button__link,
.resp-sharing-button__icon {
	display: inline-block;
}

.resp-sharing-button {
	border-radius: 3px;
	transition: 25ms ease-out;
	padding-top:4px;
	padding-bottom:1px;
	padding-right:2px;
	padding-left:5px;
	width: 20px;
	height: 16px;
	display: inline-block;
	position: absolute;
	margin-left:6px;
}

.resp-sharing-text {
	padding-top:2px;
	padding-right:2px;
	padding-left:3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #515151;
	font-size: 13px;
	margin-left:34px;
}

.resp-sharing-button__icon svg {
	width: 15px;
	height: 15px;
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
	fill: #fff;
	stroke: none
}

.resp-sharing-button--facebook {
	background-color: #3b5998;
	border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
	background-color: #2d4373;
	border-color: #2d4373;
}

.resp-sharing-button--twitter {
	background-color: #55acee;
	border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
	background-color: #2795e9;
	border-color: #2795e9;
}

.resp-sharing-button--pinterest {
	background-color: #bd081c;
	border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
	background-color: #8c0615;
	border-color: #8c0615;
}

.sharing-buttons {
	float: right; margin-top: 8px;
}

@media (max-width: 500px) {
	.sharing-buttons {
		clear:both;
		float:left;
		margin-left: -5px;
		margin-bottom: 60px;
		margin-top: -20px;
	}
}