html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
}

html, body {
	height:100%;
}

body {
	font-family: 'PT Serif', serif;
	font-size: 14px;
	color: #666;
}

a, a:link, a:visited, a:active {
	color:#2ea3f2;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.content {
	position: relative;
	max-width: 800px;
	height: 100%;
	margin: 0 auto;
}

.col-left {
	position: relative;
	display: block;
	float: left;
	width: 200px; 
	height: 100%;
}

.col-right {
	position: relative;
	display: block;
	float: right;
	width: 580px;
}


/* 
* 
* @todo: Responsive layout
*
*/

.mobile {
	display: none;
}

@media (max-width: 981px) {
	.desktop { display: none; }
	.mobile { display: block; }
}


/*
*
* Other styles
*
*/

blockquote {
	border-color: #d2d2d2!important;
	font-size: 12px;
	font-style: italic;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #d3cfcd;
	margin-bottom: 5px;
	padding: 0;
}

.orange-el {   
	float: left;
	width: 5px;
	height: 13px;
	margin-top: 2px;
	margin-right: 7px;
	border-width: 0px;
	background-color:#c45b00;
	border-radius:5px;
}


/* 
* 
* sharingbuttons.io
*
*/

.resp-sharing-button__link,
.resp-sharing-button__icon {
	display: inline-block
}

.resp-sharing-button__link {
	text-decoration: none;
	color: #fff;
}

.resp-sharing-button {
	border-radius: 3px;
	transition: 25ms ease-out;
	padding-top:2px;
	padding-bottom:4px;
	padding-right:2px;
	padding-left:5px;
	width: 20px;
	height: 16px;
	display: inline-block;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	position: absolute;
	margin-left:6px;
}

.resp-sharing-text {
	padding-top:2px;
	padding-right:2px;
	padding-left:3px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #515151;
	font-size: 13px;
	margin-left:34px;
}

.sharing-buttons {
	float: right; margin-top: 8px;
}

@media (max-width: 981px) {
	.sharing-buttons{float:left;margin-top: 25px; clear:both;}
}

.resp-sharing-count:focus, .resp-sharing-count:hover {
	color:#4183C4;
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em
}

.resp-sharing-button span {
  padding-left: 0.4em
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--pinterest {
  background-color: #bd081c;
  border-color: #bd081c;
}

.resp-sharing-button--pinterest:hover,
.resp-sharing-button--pinterest:active {
  background-color: #8c0615;
  border-color: #8c0615;
}

/* .resp-sharing-button--tumblr {
  background-color: #35465C;
  border-color: #35465C;
}

.resp-sharing-button--tumblr:hover,
.resp-sharing-button--tumblr:active {
  background-color: #222d3c;
  border-color: #222d3c;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
} */